<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>

<div>
    <h1>YukiBot</h1>
</div>

<div class="box">
    {{{ body }}}
</div>

</body>

</html>